 .effect-5 {
	 color: white;
	 text-shadow: 0px 0px 0.1em #1aa1a5, 0px 0px 10px #43dde2, 0px 0px 20px #43dde2, 0px 0px 30px #43dde2;
	 animation: blink-text 300ms linear infinite;
	 font-family: 'Aleo', serif;
	 text-transform: uppercase;
}
 @keyframes blink-text {
	 50% {
		 color: white;
		 text-shadow: 0px 0px 0.1em #ff5a77, 0px 0px 10px pink, 0px 0px 20px pink, 0px 0px 30px pink;
	}
}
 